extends layout
block content
  .titles
      .aboutPage
        h2 Hear about us
        .generalSec
          .itemGeneral
            h4 Who we are?
            div
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            h4 Where we are?
            div Our offices locate at the capital of the Negev, location describe below.
            div Our phone : 077-7827035
            div Our email : help@favorofflavor.com
            div You can fins us also on the social media.
            .itemGeneral
              a(href='https://www.facebook.com/')
                i.fa.fa-facebook
              a(href='https://www.instagram.com/')
                i.fa.fa-instagram
              a(href='https://twitter.com/')
                i.fa.fa-twitter
          .itemGeneral
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.78866136479!2d34.7934729!3d31.25427329999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15026669aab351e5%3A0xd34b95321df3a0a9!2sEli'ezer%20Ben%20Yehuda%20St%2016%2C%20Beersheba!5e0!3m2!1sen!2sil!4v1671056532879!5m2!1sen!2sil", width='400', height='300', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')